body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 14px;
	color: #0f0e3b;
	background-color: #fffeff;
}

table td{
    -moz-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    font-size: 20px;
	line-height: 28px;
	text-align: justify;
	letter-spacing: 0.03em;
	color: #000000;
}

ul,
li {
	margin: 0 auto;
	list-style-type: none;
}

.container-person{
	margin-top: 50px;
}

.select2-container--default .select2-selection--single
{
	background: #FFFEFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	height: 38px;

}

.thirdPage__edit{

}

.thirdPage__edit img{
	height: 20px;
	width: 20px;
}

.thirdPage__edit span
{
	font-size: 1.3em;
	position: relative;
	top: 1px;
	left: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 17px;
	letter-spacing: 0.03em;

	color: #0F0E3B;
	position: relative;
	top: 9px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b
{
	border-color: #0F0E3B transparent transparent transparent;
	position: relative;
	top: 20px;
}

.btn {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.03em;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 20px;
}

.btn:hover {
	color: #F9B72D;
	border-color: #F9B72D;
}

.form__bg {
	background-image: url("../img/button-div.png");
	height: 200px;
	background-size: cover;
	padding: 15px;
}

.button__bg {
	float: left;
	margin-left: 25%;
}

.navbar {
	margin-left: 5%;
}

.navbar {
	padding: 0;
}

.img__logo {
	width: 250px;
	margin-top: -125px;
}

.navbar-nav {
	margin-top: -175px;
}

.nav-link{
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	border-top: 4px solid #254A9E;
	color: #254A9E;
}

.button__div {
	width: 300px;
}

.nav-item {
	margin-right: 3rem;
	padding-top: 25px;
}

.nav-link {
	font-size: 14px;
}

/* Intro
=======================*/
@media(max-width: 600px)
{
	.intro{
		margin-top:50px;
	}
	.inner__right{
		width:40%;
		margin-left:10px;
	}
}
@media(min-width: 600px){
	.inner__right{
		width:15%;
	}
}
.intro__left {
	position: relative;
	z-index: 1;
}

.intro > .big-container{
	max-width: 90%;
}

.intro__right {
	position: relative;
}

.intro__title {
	font-size: 6em;
	line-height: 87px;
	letter-spacing: 0.03em;
}

.intro__suptitle {
	font-size: 3em;
	width: 600px;
	line-height: 39px;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

button i {
	padding-right: 10px;
	font-size: 20px;
}

button img {
	padding-right: 10px;
}

.btn__call {
	font-size: 1em;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	padding: 10px 25px;
	margin-right: 25px;
	border: 1px solid #254a9e;
}

.btn__work {
	font-size: 1em;
	letter-spacing: 0.03em;
	color: #254a9e;
	border: 1px solid #254a9e;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 25px;
	background-color: #fffeff;
}

.left__img {
	height: 250px;
	position: relative;
	z-index: 1;
	top: 165px;
}

.down__img {
	position: relative;
}

.intro__unclear {
	margin-top: -250px;
}
/* Searching
=======================*/
.searching {
	background-color: #f5f5f5;
}

.searching__inner {
	display: flex;
	justify-content: space-between;
	height: 70px;
}

.inner__left {
	font-size: 1.2em;
	color: #0F0E3B;
	border-radius: 20px;
	border: 1px solid #fffeff;
	padding: 15px 20px 15px 80px;
	background-image: url("../img/searching-icon.png");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.inner__right {
	font-size: 1.4em;
	color: #fffeff;
	border-radius: 20px;
	border: 1px solid #f5f5f5;
	float: right;
	background-color: #3456A1;
}

.spacer {
	background-color: #f5f5f5;
	height: 60px;
}
/* Filters
=======================*/
.filters {
	background-color: #f5f5f5;
}

.filters__inner {
	display: flex;
	justify-content: space-between;
}

.filters__form {
	font-size: 14px;
	color: #0F0E3B;
	background-color: #fffeff;
	border-radius: 12px;
	border: 1px solid #fffeff;
	padding: 7px 7px;
}

.filters__form1 {
	font-size: 14px;
	color: #0F0E3B;
	background-color: #fffeff;
	border-radius: 12px;
	border: 1px solid #fffeff;
}

.label_1 {
	margin: 0;
}

.toggle_radio {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 36px;
  width: 200px;
}

.label_toogle{
	transition: all;
	border-radius: 12px 0 0 12px;
	border: 1px solid #A2B3D7;
	box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 12px 0 0 12px;
	-moz-border-radius: 12px 0 0 12px;
	margin-bottom: 0;
	height: 34px;
	display: block;
	width: 50%;
	padding: 0 5px 0 15px;
}

.label_toogle > p{
	margin-bottom: 0;
	color: #A2B3D7;
	position: relative;
	top: 5px;
	transition: all;

}

.label_revert_toogle{
	border-radius: 0 12px 12px 0;
	transition: all;


}

.toggle_radio > * {
  float: left;
}



.toggle_radio input[type=radio] {
  display: none;
}

.toggle_radio #label_1 {
  color: #000;
  display: block;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.toggle_option_slider {
  width: 50%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.label_toogle_active > p{
  color: #0F0E3B;
	transition: all;


}

.label_toogle_active{
	transition: all;

	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 17px;

	letter-spacing: 0.03em;

	color: #0F0E3B;

	background: #FFFEFF;
	border: 1px solid #0F0E3B;
	box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 12px 0px 0px 12px;
}

.label_revert_toogle_active{
	transition: all;

	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 17px;

	letter-spacing: 0.03em;

	color: #0F0E3B;

	background: #FFFEFF;
	border: 1px solid #0F0E3B;
	box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 0 12px 12px 0;
}

.label_revert_toogle_active > p{
	color: #0F0E3B;
	transition: all;


}



#second_toggle:checked ~ .toggle_option_slider {
  background: #f5f5f5;
  left: 109px;
}

.nav-item-login{
	display: none;
}

.inner__item_range{
	width: 250px;
}

.range_view{
	text-align: center;
	margin-top: 15px;
}


.rangeslider{
	margin-top: 18px;
}

.rangeslider--horizontal .rangeslider__handle{
	background: #254A9E;
}

.rangeslider__handle:after{
	background: unset;
}

.rangeslider__fill{
	background: #A2B3D7;
}

	/* ul {
        list-style: none;
    }

    .filters__link {
        display: inline-block;
        padding-right: 10px;
    }

    .input__left,
    .input__right {
        visibility:hidden;
    }

    label {
        cursor: pointer;
    }

    input:checked + label {
        background: red;
    }

    .inner__item i {
        font-size: 20px;
        color: #F9B72D;
    }

    .inner__item1 {
        border: 1px solid #000;
    }
     */
fieldset, .label_2 { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating { 
 	border: none;
  	float: left;
  	display: none;
}

.rating > .input_1 { display: none; } 
.rating > .label_2:before { 
	margin: 0;
	font-size: 24px;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > .label_2 { 
  	color: #ddd; 
 	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > .input_1:checked ~ .label_2, /* show gold star when clicked */
.rating:not(:checked) > .label_2:hover, /* hover current star */
.rating:not(:checked) > .label_2:hover ~ .label_2 { color: #F9B72D;  } /* hover previous stars in list */

.rating > .input_1:checked + .label_2:hover, /* hover current star when changing rating */
.rating > .input_1:checked ~ .label_2:hover,
.rating > .label_2:hover ~ .input_1:checked ~ .label_2, /* lighten current selection */
.rating > .input_1:checked ~ .label_2:hover ~ .label_2 { color: #F9B72D;  } 

/* Slider
=======================*/
.slider__title {
	font-size: 48px;
	text-align: center;
	margin: 15px 0 65px;
}

.card {
	border-radius: 60px;
	margin-bottom: 40px;
}

.card__bg1 {
	background-image: url("../img/slider/1.jpg");
	background-size: cover;
}

.card__bg2 {
	background-image: url("../img/slider/2.jpg");
	background-size: cover;
}

.card__bg3 {
	background-image: url("../img/slider/3.jpg");
	background-size: cover;
}

.card__icon {
	padding-top: 40px;
	text-align: center;
}

.slider__line {
	border: 1px solid #fff;
	width: 50%;
	align-self: center;
}

.card__title {
	padding-top: 20px;
	text-align: center;
	color: #fffeff;
	font-size: 22px;
}

.card__text	{
	padding-top: 60px;
	font-size: 14px;
	text-align: center;
}

.my-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #A2B3D7;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.my-indicators .active {
    width: 18px;
    height: 18px;
    margin: 10px;
    background-color: #254A9E;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: blue;
  background-size: 100%, 100%;
  border-radius: 10%;
  border: 1px solid #254A9E;
  background-image: none;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
}

.carousel-control-next-icon:after {
  content: url("../img/slider/right-arrow.png");
  font-size: 30px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: url("../img/slider/left-arrow.png");
  font-size: 30px;
  color: blue;
}

.carousel__bg {
	margin-top: 20px;
}
/* Mentors
=======================*/
.mentors {
	background-color: #f5f5f5;
}

.mentors__main {
	text-align: center;
}

.mentors__title {
	font-size: 48px;
	text-align: center;
	margin-bottom: 65px;
}

.mentors__item {
	margin-bottom: 65px;
}

.mentors__img {
	border-radius: 50%;
	margin-bottom: 25px;
}

.mentors__name {
	font-size: 18px;
}

.mentors__icon {
	color: #F9B72D;
	font-size: 20px;
}

.my__pagination {
	margin: 0;
	display: flex;
	justify-content: center;
}

.page-link {
	border: 0;
	background-color: #f5f5f5;
}

/* Footer
=======================*/
footer {
	background: #0F0E3B;
}

.footer__main {
	padding: 30px 0 20px 0;
}

.footer__title {
	font-size: 22px;
	margin-bottom: 30px;
	color: #fffeff;
}

.footer__links {
	color: #fffeff;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-bottom: 7px;
}

.footer__links:hover {
	text-decoration: none;
	color: #A2B3D7;
}

.socials__title {
	font-size: 22px;
	color: #fffeff;
}

.footer__icons {
	display: flex;
	flex-wrap: wrap;
	font-size: 40px;
	color: #254A9E;
}

.facebook__icon	{
	margin-right: 10px;
}

.instagram__icon {
	margin-right: 10px;
}

.footer__pax {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
}

.digitalpax {
	color: #fffeff;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.footer__img {
	height: 60px;
}

.footer-copyright {
	color: #fffeff;
	font-size: 22px;
}

.footer__data,
.footer__rights {
	font-size: 16px;
}
@media(min-width: 600px){
.footer_mezhdu{
	width:50%;
}
}
@media(max-width: 600px){
.footer_mezhdu{
	width:25%;
}
}

/* Second
=======================*/

@media (max-width: 600px){
	.secondPage {
		background-color: #f5f5f5;
		margin-top: 40px;
	}
}
@media (min-width: 600px){
	.secondPage {
		background-color: #f5f5f5;
		margin-top: -95px;
	}
}

.secondPage__2 {
	overflow: hidden;
	margin-bottom: -100px;
}

.secondPage__img {
	border-radius: 50%;
}

.secondPage__icon {
	margin-top: 20px;
	font-size: 35px;
	color: #F9B72D; 
}

.secondPage__title {
	margin-bottom: 20px;
	font-size: 48px;
}	

.secondPage__1 {
	overflow: hidden;
}

.inner__text {
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	text-align: justify;
}

.secondPage__price {
	margin-top: 30px;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.03em;
	color: #000000;
}

.secondPage__btn {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	margin-top: 30px;
	padding: 10px 50px;
	margin-right: 25px;
	border: 1px solid #254a9e;
}

 /*About
 ========================*/
.about__inner {
	display: flex;
	justify-content: space-between;
}

.about__title {
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 0.03em;
	color: #000000;
	margin-bottom: 30px;
	text-align: start;
}

.about__text {
	font-size: 24px;
	line-height: 29px;
	text-align: justify;
	letter-spacing: 0.03em;
	color: #000000;
}

.slider__images {
	width: 100%;
	margin-bottom: 80px;
	border-radius: 20px;
}

.secondPage-indicators li {
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #F8DF6C;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;    
}

.secondPage-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: #F1D13B;
    opacity: 1;
    overflow: hidden;
}

/*Profit
================*/
.profit__title {
	margin: 60px 0 75px;
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 0.03em;
	text-align: end;
	color: #000000;
}

.profit__inner {
	
}

.profit__img1 {
	width: 187px;
	height: 187px;
	background-color: #F9B72D;
	border-radius: 300px;
	display: inline-block;
}

.profit__img1 span{
	position: relative;
	top: 25px;
	font-size: 96px;
	color: white;
	left: 70px;
}


.profit__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.03em;
	color: #000000;
	display: inline-block;
	width: 70%;
	position: relative;
	bottom: -22px;
	left: 25px;
}

.profit__inner_row{
	margin: 15px 0;
}

.profit__inner_row_left_margin{
	margin-left: 170px;
}

.secondPage__3 {
	margin-top: 100px;
	overflow: hidden;
}

/*Reviews
================*/
.reviews {
	background-color: #f5f5f5;
}

.reviews__content {
	background-color: #fff;
	border-radius: 20px;
	padding: 25px 40px;
}

.review_icon{
	display: inline-block;
}

.review_icon img{

}

.review_icon div{
	width: 50px;
	background: #F5F5F5;
	padding: 15px;
	border-radius: 100px;
	display: inline-block;
	height: 50px;
}

.review_icon_margin_left{
	margin-left: 50px;
}

.review_icon span{
	margin-left: 5px;
}

.reviews__item {
	display: flex;
	justify-content: space-between;	
	margin-bottom: 50px;
}

.reviews__title {
	text-align: center;
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 0.03em;
	color: #000000;
	margin-bottom: 60px;
}

.reviews__photo {
	border-radius: 	100px;
}

.reviews__suptitle {
	padding-top: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #000000;
	position: relative;
}

.reviews__text {
	padding-top: 20px;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #000000;
}

/*ThirdPage
================*/
@media (max-width: 600px){
	.thirdPage__intro {
		background-color: #f5f5f5;
		margin-top: 40px;
	}
}
@media (min-width: 600px){
	.thirdPage__intro {
		background-color: #f5f5f5;
		margin-top: -95px;
	}
}

.thirdPage__bg {
	overflow: hidden;
}

.thirdPage__img {
	border-radius: 50%;
	margin-bottom: 30px;
}

.thirdPage__title {
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 0.03em;
	color: #0F0E3B;
	margin-bottom: 30px;
}

.thirdPage__rightInner {
	display: flex;
	justify-content: space-between;
	margin: 100px 0 150px;
}

.thirdPage__price {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #000000;
	display: inline-block;
}

.thirdPageBtn__left {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff !important;
	background: #254a9e;
	border-radius: 60px;
	padding: 11px 30px;
	border: 1px solid #254a9e;
	text-align: center;
	margin-left: 50px;
	display: inline-block;
}

.thirdPageBtn__left  span{
	font-size: 13px;
	position: relative;
}


.thirdPageBtn__right {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #254a9e !important;
	border: 1px solid #254a9e;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 3px 20px;
	background-color: #fffeff;
	text-align: center;
	width: 130px;
	display: inline-block;
	margin-left: 10px;
}

.thirdPageBtn__right  span{
	font-size: 13px;
	position: relative;
}

/*Profile
================*/
.profile {
	background-color: #f5f5f5;
	padding-top: 100px;
}

.thirdPageBtn__btn_section{
	margin-top: 100px;
}

.profile__title {
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 0.03em;
	color: #000000;
	text-align: center;
	margin-bottom: 65px;
}

.profile-inner__text {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #000000;
	margin-bottom: 30px;
}

.profile-inner__include {
	background: #FFFEFF;
	border-radius: 20px;
	padding: 20px 0;
	border: 1px solid #fffeff;
	margin-bottom: 35px;
	width: 100%;
}
 
.inaddition {
	position: relative;
}

.inaddition__text {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #000000;
}

.inaddition__left {
	width: 100%;
	background: #FFFEFF;
	border-radius: 20px;
	padding: 50px 0;
	border: 1px solid #fffeff;
}

.inaddition__inner1 {
	position: relative;
}

.inaddition__right {
	position: absolute;
	top: 50%;
	right: 25px;
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	padding: 13px 30px;
	border: 1px solid #254a9e;
	width: 200px;
}

.inaddition__overall {
	display: flex;
	justify-content: center;
}


/*Sign in
================*/
@media (max-width: 600px){
	.sign__in {
		background-color: #f5f5f5;
		margin-top:40px;
	}
	.signIn__left {
		display: none;
	}
}
@media (min-width: 600px){
	.sign__in {
		background-color: #f5f5f5;
		margin-top:-95px;
	}
}


.signIn__img {
	overflow: hidden;
	margin: -45px 0 0 0;
}

.signIn__left {
	margin-bottom: 60px;
}
.signIn__right {
	margin-top: 120px;
}
.signIn__btn1 {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	padding: 10px 30px;
	border: 1px solid #254a9e;
}

.signIn__btn2 {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #254a9e;
	border: 1px solid #254a9e;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 10px;
	background-color: #fffeff;
}	

.singIn__input {
	margin-top: 50px;
}

.select__options {
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #000;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 20px;
	background-color: #fffeff;
}
 
.signInInput__text {
	margin-top: 15px;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #000;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 20px;
	background-color: #fffeff;	
}

.forget__password {
	text-align: end;
	margin-top: 10px;
}

.signInto {
	margin-top: 30px;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #fffeff;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 40px;
	background-color: #254a9e;
	float: right;
}

/*Sign ins
================*/
.sign__ins {
	background-color: #f5f5f5;
}

.signIn__btn4 {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	padding: 10px 10px;
	border: 1px solid #254a9e;
}

.signIn__btn3 {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #254a9e;
	border: 1px solid #254a9e;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 30px;
	background-color: #fffeff;
}	

.select__options {
	margin-top: 60px;
}

.signInInput__texts {
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #000;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 60px;
	padding: 10px 20px;
	background-color: #fffeff;
	margin-top: 15px;
}

.signInto1 {
	font-size: 13px;
	letter-spacing: 0.03em;
	color: #fffeff;
	background: #254a9e;
	border-radius: 60px;
	padding: 10px 30px;
	border: 1px solid #254a9e;
	float: right;
	margin-top: 60px;
}

/*Sixth Page
================*/
.results {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.03em;
	color: #000000;
	padding-bottom: 65px;
}

@media (max-width: 600px){
	.searching2 {
		background-color: #f5f5f5;
		margin-top: 40px;
	}
}
@media (min-width: 600px){
	.searching2 {
		background-color: #f5f5f5;
		margin-top: -95px;
	}
}

.sixth__page {
	margin: 60px 0;
}

.sixth__pageItem {
	border-bottom: 1px solid #C4C4C4;
	padding: 30px 0;
}

.sixth__pageItem:last-child {
	border: none;
}

.sixth__pageIcon {
	border-radius: 50%;
}

.sixth__pageTitle {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #0F0E3B;
	/*margin-bottom: 40px;*/
}

.sixth__pageAwesome {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.sixth__pageText {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #0F0E3B;
}

.sixth__pageCity {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #0F0E3B;
}

.sixth__pagePrice {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #0F0E3B;
}

.sixth__pageBtn {
	border: 1px solid #254A9E;
	box-sizing: border-box;
	border-radius: 20px;
	height: 50px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #254A9E;
	background-color: #fff;
}

.sixth__pagination {
	padding-bottom: 50px;
	background-color: #fff !important;
	margin: 0;
	display: flex;
	justify-content: center;
}
.page-link2 {
	background-color: #fff !important;
}

/*Seventh Page
================*/

@media (max-width: 600px){
	.seventh__page {
		background-color: #f5f5f5;
		margin-top: 40px;
	}
}
@media (min-width: 600px){
	.seventh__page {
		background-color: #f5f5f5;
		margin-top:-95px;
	}
}

.seventh__inner {
	display: flex;
	justify-content: center;
}

.tech__item {
	margin-top: 20px;
}

.tech__item1 {
	margin-top: 150px;
}

.tech__inner {
	display: flex;
	align-items: center;
}

.tech__icon {
	width: 109px;
	height: 94px;
	position: relative;
}

.tech__title {
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.03em;
	color: #000000;
	position: absolute;
	z-index: 1;
	left: 15%;
}

.tech__inner {
	margin-bottom: 10px;
}

.tech__inner1 {
	display: flex;
	flex-wrap: wrap;
}

.tech__icon1 {
	width: 14px;
	height: 14px;
	margin-right: 3%;
}

.apply__test {
	font-size: 14px;
	color: #fffeff;
	border-radius: 20px;
	border: 1px solid #f5f5f5;
	float: right;
	background-color: #3456A1;
	padding: 10px 30px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #FFFEFF;
}

.profession {
	font-size: 24px;
	line-height: 26px;
	text-align: justify;
	letter-spacing: 0.03em;
	color: #000000;
}

.mentors__tech {
	background-color: #f5f5f5;
	margin-top: 50px;
}

.mentors__h1 {
	text-align: center;
	padding-bottom: 90px;
}

.my__pagination {
	background-color: #f5f5f5;
	padding-top: 30px;
}



.big-container
{
	max-width: 80%;
}

/*Media
================*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	/*Index.html*/
	.mentors__item {
		display: flex;
		flex-wrap: wrap;
	}

	/*Sixth.html*/


}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	/*Index.html*/
	.form__bg {
		/*display: none;*/
	}

	.img__logo {
		margin-left: 10%;
		
	}

	.intro__title {
		font-size: 20px;
	}

	.intro__suptitle {
		font-size: 14px;
	}

	/*Searching*/
	.searching__inner {
		display: flex;
		justify-content: space-between;
	}
	
	.filters__inner {
		display: flex;
		flex-wrap: wrap;
	}
	@media(max-width: 600px){
		.filters__inner{
			margin-bottom:50px;
		}
	}

	.card {
		margin: 0 auto;
		width: 250px;
		height: 300px;
		margin-bottom: 20px;
	}
	
	/*Second.html*/
	.secondPage {
		display: flex;
		flex-wrap: wrap;
	}

	.about__inner {
		display: flex;
		flex-wrap: wrap;
	}

	.profit__title {
		font-size: 	33px;
	}

	.profit__inner {
		display: flex;
		flex-wrap: wrap;
	}

	.reviews__item {
		display: flex;
		flex-wrap: wrap; 
	}

	.reviews__photo {
		width: 250px;
		height: 250px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	/*Third.html*/
	.inaddition__overall {
		display: flex;
		justify-content: space-between;
	}
	.inaddition__inner1 {
		width: 70%;
	}
	
	.inaddition__inner2 {
		width: 25%;
	}

	.inaddition__right {
		margin-top: 10px;
	}
	
	.profile {
		padding-bottom: 40px;
	}

	/*Sixth.html*/
	.sixth__pageItem {
		display: flex;
		flex-wrap: wrap;
		
	}

	/*Seventh.html*/
	.sixth__pageItem {
		display: flex;
		flex-wrap: wrap;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

	/*Index.html*/
	.navbar {
		margin: 0;
	}

	.intro__title {
		font-size: 50px;
		margin-bottom: 0;
	}

	.intro__suptitle {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.btn__work,
	.btn__call {
		font-size: 12px;
		margin-right: 0;
		padding: 10px;
	}

	/*Searching*/
	.searching__inner {
		display: flex;
		justify-content: center;
	}
	.card__title {
		font-size: 18px;
	}
	
	.slider__title {
		font-size: 30px;
	}

	.mentors__title {
		font-size: 30px;
	}
}

@media(max-width: 1300px)
{
	.button__bg {
		display: none;
	}
	.navbar-light .navbar-toggler{
		z-index: 1000;
		border-color: black;
	}
	.form__bg{
		display: none;
	}

	.navbar-nav
	{
		display: block;
		text-align: center;
		margin: 0;
	}


	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
		border-top: none;
		color: #254A9E;
	}

	.nav-item{
		margin-right: 0;
	}

	.img__logo{
		margin-top: 0;
	}

	.dropdown-menu{
		text-align: center;
		background: none;
		border: none;
	}

	.left__img{
		visibility: hidden;
	}

	.nav-item-login{
		display: inline-block;
	}

	.navbar-expand-lg .navbar-toggler {
		display: block;
	}

	.justify-content-center-mobile
	{
		justify-content: center !important;
	}

	.footer__navigation > .footer__links {
		text-align: center !important;
		display: inline;
	}

	.container-person{
		margin-top: 100px;
	}

	.profit__img1
	{
		width: 250px;
		height: 250px;
		display: block;
		margin: 15px auto 15px auto;
	}

	.profit__img1 span{
		top: 53px;
		left: 100px;
	}


	.profit__text{
		display: -webkit-box;
		width: unset;
		position: initial;
		bottom: unset;
		left: unset;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.profit__inner_row_left_margin{
		margin-left: 0;
	}

	.reviews__photo {
		width: 150px;
		height: 150px;
		margin: 15px auto;
		border-radius: 100px;
		display: block;
	}

	.inaddition__right{
		right: 0;
	}



}


@media (min-width: 992px) and (max-width: 1300px) {
	.navbar-expand-lg .navbar-collapse {
		display: block !important;
		width: 100% !important;

	}


	.navbar-expand-lg .navbar-collapse .collapse:not(.show){
		display: none !important;
	}


	.navbar-expand-lg .navbar-collapse .collapse .show{
		display: block !important;
	}

	.collapse:not(.show) {
		display: none !important;
	}


	nav{
		position: relative !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-wrap: wrap !important;
		flex-wrap: wrap !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		-ms-flex-pack: justify !important;
		justify-content: space-between !important;
		padding: .5rem 1rem !important;
	}


}

